# Mac files
.DS_Store

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# IntelliJ Idea
*.iml
*.idea/

# Java
*.class
target/
javadoc/
log/

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar


# Ending in ~
*~