body	{
	font-family: Didact Gothic, DidactGothic, Tahoma, sans-serif;
}

img {
	width: 100%;
	height: 100%;
	margin: 7px 7px 7px 7px;
}

.tab-content	{
	margin: 30px;
}

select, input	{
	width: 60%;
}

.nav-link	{
	color: #93c354;
}

.btn	{
	background-color: #93c354;
	border: 0px;
}

.btn:hover	{
	background-color: #303234;
	border: 0px;
}

h5	{
	margin-bottom: 10px;
}

table	{
	margin-bottom: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}